@model IEnumerable<EntityLayer.Concrete.About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('/Themes/miniblog/images/img_4.jpg');">
    <div class="container">
        <div class="row same-height justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="post-entry text-center">
                    <h1 class="">Hakkımızda</h1>
                    <p class="lead mb-4 text-white">Bu proje temel amacını ve yazaları daha yakından incelemeye hazır mısınız ?</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 order-md-2">
                <img src="~/Themes/miniblog/images/img_1.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-5 mr-auto order-md-1">
                <h2>Biz Kimiz ?</h2>
                @foreach (var item in Model)
                {
                <p>@item.Content1</p>
                }
                <ul class="ul-check list-unstyled success">
                    <li>Proje Bilgisayar Programcılığı bölümü için hazırlanmıştır.</li>
                    <li>Projede temel amaç derslere ait blogların paylaşılmasıdır.Etileşim opsiyonu da mevcuttur.</li>
                    <li>Proje vitrin-admin-yazar paneli olmak üzere 3 panelden oluşuyor.</li>
                </ul>
               
            </div>
        </div>
    </div>
</div>

@Html.Action("MeetTheTeam", "About")

<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="~/Themes/miniblog/images/img_1.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-5 ml-auto">
                <h2>Kimler yazar olabilir ?</h2>
                @foreach (var item in Model)
                {
                    <p class="mb-4">@item.Content2</p>
                }
                    <ul class="ul-check list-unstyled success">
                        <li>Yazarlar sadece 2.sınıf öğrencilerinden seçilir.</li>
                        <li>GNO 3.5 üzerinde olmalıdır.</li>
                        <li>İyi bir github hesabı tercih sebepidir.</li>
                    </ul>
                </div>
        </div>
    </div>
</div>

@Html.Action("Add", "SubscribeMail")

@Html.Action("Footer", "About")

