@model EntityLayer.Concrete.Category
@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content">

    <!-- Default box -->
    <div class="card">

        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
                    <div class="row">
                        <div class="col-12">

                            <div class="card card-warning">
                                <div class="card-header">
                                    <h3 class="card-title">Kategori Güncelleme Formu</h3>
                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->
                                <form method="post" class="form-horizontal">
                                    <input hidden type="text" class="form-control" name="CategoryID" value="@Model.CategoryID" id="inputEmail3" placeholder="Zorunlu alan lütfen giriniz...">
                                    <input hidden type="text" class="form-control" name="Status" value="@Model.Status" id="inputEmail3" placeholder="Zorunlu alan lütfen giriniz...">

                                    <div class="card-body">
                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-sm-2 col-form-label">Kategori Adı</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="Name" value="@Model.Name" id="inputEmail3">
                                                @Html.ValidationMessageFor(x => x.Name, null, new { @class = "text-danger" })
                                            </div>

                                        </div>
                                        <div class="form-group row">
                                            <label for="inputPassword3" class="col-sm-2 col-form-label">Kategori Açıklaması</label>
                                            <div class="col-sm-10">
                                                <textarea rows="6" class="form-control" name="Description" value="@Model.Description">@Model.Description</textarea>
                                                @Html.ValidationMessageFor(x => x.Description, null, new { @class = "text-danger" })
                                            </div>
                                        </div>

                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-info">Kategori Güncelle</button>
                                        <a class="btn btn-default float-right" href="/Category/CategoryList">Geri Dön</a>
                                    </div>
                                    <!-- /.card-footer -->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
                    <h3 class="text-primary"><i class="fas fa-paint-brush"></i>Kategori Güncelleme Paneli</h3>
                    <p class="text-muted">Projenin kategori güncelle panelindesiniz bu alanda bloglar için oluşturulan bir kategorinin bilgilerini degiştirebilirsiniz.</p>
                    <br>
                    <div class="text-muted">
                        <p class="text-sm">
                            Proje Hedef Kitle Bölüm
                            <b class="d-block">Bilgisayar Programcılığı</b>
                        </p>
                        <p class="text-sm">
                            Proje Yöneticisi
                            <b class="d-block">Umut Tosun</b>
                        </p>
                    </div>

                </div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>

