
@{
    ViewBag.Title = "BlogDetails";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@Html.Action("BlogCover", "Blog")
<section class="site-section py-lg">
    <div class="container">

        <div class="row blog-entries element-animate">

            <div class="col-md-12 col-lg-8 main-content">
                @Html.Action("BlogReadAll", "Blog")

                @Html.Action("CommentList", "Comment")
            </div>
            <div class="col-md-12 col-lg-4 sidebar">
                @Html.Action("About", "Author")

                @Html.Action("PopularPosts", "Author")

                @Html.Action("BlogDetailsCategories", "Category")
            </div>
        </div>
    </div>
</section>


@Html.Action("Add", "SubscribeMail")

@Html.Action("Footer", "About")
