@model IEnumerable<EntityLayer.Concrete.Blog>
@{
    ViewBag.Title = "BlogByCategory";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <span>Kategori</span>             
                    <h3>@ViewBag.categoryName</h3>
                    <p>@ViewBag.categoryDescription</p>
                </div>
        </div>
    </div>
</div>
<div class="site-section bg-white">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
            <div class="col-lg-4 mb-4">
                <div class="entry2">
                    <a href="single.html"><img src="@item.ImageUrl" alt="Image" class="img-fluid rounded"></a>
                    <div class="excerpt">
                        <span class="post-category text-white bg-secondary mb-3">@item.Category.Name</span>

                        <h2><a href="single.html">@item.Title</a></h2>
                        <div class="post-meta align-items-center text-left clearfix">
                            <figure class="author-figure mb-0 mr-3 float-left"><img src="@item.Author.ImageUrl" alt="Image" class="img-fluid"></figure>
                            <span class="d-inline-block mt-1">Yazar :  <a href="#">@item.Author.FirstName @item.Author.LastName</a></span>
                            <span>&nbsp;-&nbsp;  @(((DateTime)item.DateTime).ToString("dd-MMM-yyyy"))</span>
                        </div>

                        <p>@item.Content.Substring(0, item.Content.Substring(0, 200).LastIndexOf(" "))...</p>
                        <p><a href="/Blog/BlogDetails/@item.BlogID">Daha fazlası</a></p>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>
@Html.Action("Footer","About")

