@model EntityLayer.Concrete.Blog
@{
    ViewBag.Title = "NewBlog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<form class="form-group" method="post">
    <div class="col-md-9">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">Yeni Blog Oluştur</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="form-group">
                    @Html.Label("Başlık")
                    <input class="form-control" name="Title" placeholder="Başlık:">
                </div>
                <div class="form-group">
                    @Html.Label("Kategori")
                    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.Categories, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.Label("Yazar")
                    @Html.DropDownListFor(x => x.AuthorID, (List<SelectListItem>)ViewBag.Authors, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <textarea id="compose-textarea" name="Content" class="form-control" style="width:1000px;height:500px;">
                    
                    </textarea>
                </div>

            </div>
            <div class="card-footer">
                <div class="float-right">
                    <button type="button" class="btn btn-default"><i class="fas fa-pencil-alt"></i>Kaydet</button>
                    <button type="submit" class="btn btn-primary"><i class="far fa-envelope"></i>Yayınla</button>
                </div>
                <button type="reset" class="btn btn-default"><i class="fas fa-times"></i>İptal Et</button>
            </div>
        </div>
    </div>
</form>
